<section class="wrapper">
	<section class="wrapper-head">
		<div class="menu-nav clearfix">
			<div class="navbar-header">
				<button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="wrapper-menu">
				<div class="navbar-collapse navbar-right collapse">
					<ul class="nav navbar-nav">
						<li>
							<%= link_to "Regístrate", root_path %>
						</li>
						<li>
							<%= link_to "Iniciar Sesión", root_path %>
						</li>
					</ul>
				</div>
			</div>	
		</div>
		<div class="content-head">
			<h1>LavaloTu</h1>
		</div>
	</section>
	<section class="wrapper-body container">
		<h2 class="title">Ropa limpia en solo 3 pasos!</h2>
		<div class="steps row">
			<div class="step col-md-4">
				<%= image_tag("prueba.jpeg", :alt => "Steps LavaloTu", :title => "Steps LavaloTu", :class=> "img-responsive") %>
			</div>
			<div class="step col-md-4">
				<%= image_tag("prueba.jpeg", :alt => "Steps LavaloTu", :title => "Steps LavaloTu", :class=> "img-responsive") %>
			</div>
			<div class="step col-md-4">
				<%= image_tag("prueba.jpeg", :alt => "Steps LavaloTu", :title => "Steps LavaloTu", :class=> "img-responsive") %>
			</div>
		</div>
	</section>
	<div class="option-menu">
		<button id="share-button" class="share-button">+</button>
		<div id="share-wrapper" class="share-wrapper">
			<ul>
				<li>
					<%= link_to root_path do %>
					<i class="fa fa-facebook" aria-hidden="true"></i>
					<% end %>	
				</li>
				<li>
					<%= link_to root_path do %>
					<i class="fa fa-twitter" aria-hidden="true"></i>
					<% end %>
				</li>
				<li>
					<%= link_to root_path do %>
					<i class="fa fa-whatsapp" aria-hidden="true"></i>
					<% end %>
				</li>
				<li>
					<%= link_to root_path do %>
					<i class="fa fa-instagram" aria-hidden="true"></i>
					<% end %>
				</li>
				<li>
					<%= link_to root_path do %>
					<i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
					<% end %>
				</li>
			</ul>
		</div>
		<div id="share-overlay" class="share-overlay"></div>
	</div>
</section>
<footer>
	<div class="container">
		<div class="about_us col-md-6">
			<ul class="options">
				<li class="option"><%= link_to "Preguntas frecuentes", root_path %></li>
				<li class="option"><%= link_to "Términos y condiciones", root_path %></li>
				<li class="option"><%= link_to "Precios", root_path %></li>
				<li class="option"><%= link_to "Calcular orden", root_path %></li>
				<li class="option"><%= link_to "Política de privacidad", root_path %></li>
				<li class="option"><%= link_to "Quejas y reclamos", root_path %></li>
			</ul>
		</div>
		<div class="services col-md-6">
			<h4 class="subtitle">Nuestros Servicios</h4>
			<ul class="options">
				<li class="option">Lavado</li>
				<li class="option">Tinturado</li>
				<li class="option">Donaciones</li>
			</ul>
		</div>
	</div>
</footer>	
